@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #fff !important;
}

header,
nav {
  z-index: 10001 !important;
}

.subtitle {
  @apply text-dark-grey uppercase tracking-wide font-semibold;
}

.title {
  @apply text-4xl md:text-5xl md:leading-snug font-bold my-2 text-green;
}

.slick-slider {
  /* background-color: aquamarine; */
  /* padding-left: 30px; */
  /* height: 480px !important; */
}

.input-box {
  @apply w-[100%] rounded-md p-4 bg-grey pl-12 border border-grey focus:bg-transparent placeholder:text-black;
}

input:disabled,
input:disabled ~ .input-icon {
  @apply opacity-50;
}

.input-icon {
  @apply absolute left-4 top-1/2 -translate-y-1/2;
}

.slick-prev {
  z-index: 1;
  /* background-color: red !important; */
}
.slick-next {
  z-index: 1;
  /* background-color: red !important; */
}

.slick-dots li button:before {
  color: rgb(179, 178, 178) !important;
  font-size: 10px !important;
  margin-top: 10px;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  /* font-size: 12px !important; */
}

.heartStar {
  border-radius: 0px 28px 0px 28px;
}

.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #21d4b9;
}

@media (max-width: 1520px) {
  .team .container {
    min-width: 100%;
  }
}
@media (max-width: 1050px) {
  .team .container .team_container .card img {
    width: 135px;
  }
}
@media (max-width: 910px) {
  .team .container .team_container .card h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 810px) {
  .team .container .team_container .card {
    width: 50%;
  }
  .team .container .team_container .card img {
    width: 220px;
  }
}
@media (max-width: 550px) {
  .team .container .team_container .card {
    width: 100%;
  }
  .team .container .team_container .card img {
    width: 150px;
  }
}
