@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1520px) {
  .team .container {
    min-width: 100%;
  }
}
@media (max-width: 1050px) {
  .team .container .team_container .card img {
    width: 135px;
  }
}
@media (max-width: 910px) {
  .team .container .team_container .card h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 810px) {
  .team .container .team_container .card {
    width: 50%;
  }
  .team .container .team_container .card img {
    width: 220px;
  }
}
@media (max-width: 550px) {
  .team .container .team_container .card {
    width: 100%;
  }
  .team .container .team_container .card img {
    width: 150px;
  }
}

@layer components {
  * {
    @apply m-0 p-0 box-border text-base outline-purple/30 duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-inter font-normal text-black;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  section.hero {
    @apply grid;
    grid-template-columns: 0.4fr 0.6fr;
  }

  ::selection {
    @apply bg-purple/30;
  }

  .h-cover {
    @apply min-h-[calc(100vh-80px)];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-green {
    @apply whitespace-nowrap bg-green hover:bg-dark-green text-white rounded-full py-3 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .input-box {
    @apply w-[100%] rounded-md p-4 bg-grey pl-12 border border-grey focus:bg-transparent placeholder:text-black;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2;
  }
}
